@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/geist";

@custom-variant dark (&:is(.dark *));


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply font-sans;
  }
}

@font-face {
  font-family: "Ketchup Manis";
  src: url('/fonts/Ketchup-Manis.woff2') format('woff2'),
      url('/fonts/ketchup-manis-opentype.otf') format('opentype');
}

@layer utilities {
  .btn {
    @apply bg-accent hover:bg-accent-hover active:bg-accent cursor-pointer transition-all duration-500;
  }

  .icon {
    @apply rounded-full cursor-pointer transition-all duration-300;
  }

  .badge-icon {
    @apply size-4;
  }
}

@layer components {
  header {
    @apply p-3 px-9 border-b flex justify-between items-center gap-2 max-[460px]:px-3;

    .logo {
      @apply flex gap-2 items-center;

      h1 {
        @apply text-3xl font-ketchup text-foreground/80 max-[460px]:text-xl;

        span {
          @apply font-serif font-bold text-accent;
        }
      }
    }

    .nav-elements {
      @apply flex gap-3 items-center max-[460px]:gap-2;

      nav {
        @apply flex gap-3 items-center;

        span {
          @apply cursor-pointer flex gap-1.5 items-center justify-center text-sm;
        }

      }

      .avatar {
        @apply cursor-pointer border! border-border! bg-background! rounded-sm!;
      }
    }
  }
}


@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: 'Geist Variable', sans-serif;
  --font-ketchup: 'Ketchup Manis', serif;
  --color-destructive: var(--destructive);
  --color-accent: oklch(0.6683 0.1759 39.11);
  --color-accent-hover: oklch(0.6239 0.1703 39.16);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary: var(--secondary);
  --color-primary: var(--primary);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-border: var(--border);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
  --background: oklch(0.955 0.0124 91.52);
  --foreground: oklch(0.2046 0 0);
  --card: oklch(0.955 0.0124 91.52);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(94% .024 84);
  --muted: oklch(94.5% .018 84);
  --muted-foreground: oklch(52% .028 60);
  --destructive: oklch(0.577 0.245 27.325);
  --radius: 0.625rem;
  --border: oklch(89% .022 80);
  --ring: oklch(0.6683 0.1759 39.11);
}

.dark {
  --background: oklch(0.2046 0 0);
  --foreground: oklch(0.955 0.0124 91.52);
  --card: oklch(0.205 0 0);
  --primary: oklch(0.922 0 0);
  --secondary: oklch(29% .022 60);
  --muted: oklch(93% .015 85);
  --muted-foreground: oklch(72% .02 70);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(100% 0 0 / .12);
  --ring: oklch(0.6239 0.1703 39.16);
}